<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Parcial 2</title>
</head>

<body>

    <div class="container p-4">
        <div class="row">
            <h1>Parcial 2, proyecto Covid-19</h1>
        </div>
    </div>

</body>

</html>