<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Parcial 2</title>
</head>

<body>

    <div>
        <div>
            <h1>Cantidad de pruebas para detectar 1 caso</h1>

            <table>
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Pruebas</th>
                        <th>Test</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each top10}}
                    <tr>

                        <td>{{pais}}</td>
                        <td>{{pruebas}}</td>
                        <td>{{test}}</td>
                        <td>{{total}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>

</body>

</html>